fastapi
uvicorn
asyncpg
sqlalchemy[asyncio]
alembic
pydantic
aioredis
python-dotenv 
dependency_injector
lancedb
llama_index
tiktoken
unstructured
chromadb
llama-index-vector-stores-chroma
#"unstructured[docx]"
tantivy
pydantic-settings
groq
python-multipart